<p><span class="dropcap">L</span>una Garcia swipes through the photos on her phone until she finds it — the one of a young man with a slight mustache standing against a wall, his blue shirt neatly pressed, holding a chubby baby girl.</p>

<p>It’s the kind of picture someone might snap at a holiday dinner, a grainy image of a girl and her dad. But just out of the frame are armed guards and metal doors. It was visiting day at San Quentin State Prison.</p>

<p>It’s a rare photo of Luna with her father. Now 17, she doesn’t have any of him at birthday parties or science fairs. Jose Garcia was serving two years in San Quentin when she was born and has been in and out of incarceration ever since. In the few photos she does have, she can trace the passing years by the colors of his prison jumpsuits.</p>

<p>“He tells me that’s the only thing he knows how to do,” Luna says, her voice flat, resigned. “Prison is all he knows.”</p>

<p>Jose Garcia, who has served time primarily for drug offenses and auto theft, isn’t the only one paying a price for his crimes. Luna is, too. She carries the burden and the stigma of having a father who is not just absent but behind bars, a fact that studies show gives her and children like her long odds at success in life.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10817761/5/2000x2000.jpg">
    <p class="caption">Luna Garcia places items into her locker after graduating from  June Jordan School for Equity.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>An estimated 10 million children in the U.S. have parents who have been incarcerated at some point in their lives. According to “Shared Sentence,” a <a href="http://www.aecf.org/resources/a-shared-sentence/">recent report </a>by the Annie E. Casey Foundation, a child health and welfare organization, such children have a greater chance of experiencing physical and mental health issues, including anxiety and depression. Their families are less likely to be financially stable and more likely to be homeless. At school, they are more likely to be suspended or expelled or drop out.</p>

<p>Many are byproducts of the country’s move toward tough-on-crime policies, which have helped swell the overall jail and prison population to <a href="http://www.pewtrusts.org/~/media/legacy/uploadedfiles/pcs_assets/2010/collateralcosts1pdf.pdf">2.3 million</a> people, more than four times the total imprisoned in 1980.</p>

<p>For every incarcerated parent in San Francisco, there’s a child like Luna. Like Arvaughn Williams, 17, whose father was in and out of jail until he was shot and killed four years ago. Or Leila Soto, 17, who hasn’t seen her father since he was sent to prison when she was 4.</p>

<p>Yet the needs of children like these have been largely ignored. Government efforts to help them are scant. Unlike for children in poverty or English learners, there is no consistent funding designated to aid them.</p>

<div class="inline-graphic show-for-medium">
    <img src="{{ url_for('static', filename='graphics/02.png') }}">
</div>
<div class="inline-graphic small hide-for-medium">
    <img src="{{ url_for('static', filename='graphics/03-sm.png') }}">
</div>


<p>“It is an enormously important issue, but it remains a subtext to this country’s ongoing epidemic of mass incarceration,” said state Sen. Mark Leno, D-San Francisco. “In this rush to lock ’em up, three strikes and you’re out, we’ve been completely blind to the impact on families.”</p>

<p>There are indications, though, that the issue is beginning to gain public attention. Researchers and policymakers are acknowledging a link between these children’s plight and the overall health of their communities. In San Francisco — where on any given day 1,300 boys and girls have a parent locked up — schools are ramping up programs to raise awareness and create support among educators.</p>

<p>The San Francisco Children of Incarcerated Parents Partnership, a coalition of service providers, public agencies and advocates, distributes a “Bill of Rights” to highlight the unique needs of these children. Even TV’s “Sesame Street” created a character, <a href="http://www.sesamestreet.org/toolkits/incarceration">Alex,</a> whose dad is in prison.</p>

<p>In some ways, Luna has been luckier than many like her. Though she has struggled at times, with sadness and anger overcoming her, she has loving relatives close by. She’s found programs that have offered her a place to vent, to learn, to advocate on her own behalf.</p>

<p>But, as she navigated her last months of high school this year, her father’s absence was a constant shadow, just as it had always been. It followed her as she tried to plan for college, to pass her year-end finals, to make it to graduation.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10817756/5/2000x2000.jpg">
    <p class="caption">Luna Garcia (center) talks with her aunt, Cristina Garcia (right), as family members take photos after the commencement ceremony at June Jordan School for Equity in San Francisco.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">M</span>ost children of incarcerated parents — or CIPs (pronounced sips), as some call themselves — don’t want to talk much about their lives. Even those willing to talk can be guarded, mistrustful, sometimes angry. No one understands what CIPs go through, they say. And no one seems to want to.</p>

<p>Luna, who lives in a home with six others, including her mother, twin brothers, aunt and cousins, learned early on not to tell teachers or classmates her father is behind bars. When she did, they treated her differently, viewed her warily. Some friends abandoned her.</p>

<p>“It becomes something you can use against me,” she said. “It starts becoming a label you carry around with you.”</p>

<p>Her fifth-grade teacher attributed any misbehavior to a family pattern. In eighth grade, when Luna didn’t follow instructions, the teacher asked if she was trying to follow in her father’s footsteps. As a sophomore, she cried after a teacher told her she’d end up just like her dad. Luna’s grades suffered as she lost interest in school.</p>

<p>For children of incarcerated parents, school is often overwhelming. They have higher rates of absenteeism and are more likely to be suspended and drop out. Just 15 percent of children who have had an incarcerated father, and 2 percent of those with an incarcerated mother, earn a college degree, compared with 40 percent of all others, according to a Pew Charitable Trusts report.</p>

<div class="inline-graphic show-for-medium">
    <img src="{{ url_for('static', filename='graphics/01.png') }}">
</div>
<div class="inline-graphic small hide-for-medium">
    <img src="{{ url_for('static', filename='graphics/01-sm.png') }}">
    <img src="{{ url_for('static', filename='graphics/02-sm.png') }}">
</div>


<p>For some, a parent’s imprisonment has more severe impacts. Researchers compare the trauma experienced to that associated with child abuse, domestic violence and divorce, and say it can lead to behavioral problems, low self-esteem and drug or alcohol abuse.</p>

<p>Though research is mixed, some studies indicate children of incarcerated parents are up to three times more likely to enter the criminal justice system themselves.</p>

<p>Children of color are disproportionately affected. One in 9 black children in this country has had an incarcerated parent, compared with 1 in 28 Latino children and 1 in 57 white children, according to the Pew Charitable Trusts.</p>

<p>Yet instead of finding support in school, these children are often stigmatized. And many educators are ill-equipped to understand and deal with their situation, said Rachel Davis, managing director of the <a href="http://www.preventioninstitute.org/">Prevention Institute</a> in Oakland, which focuses on health equity and prevention of violence, trauma and chronic disease.</p>

<p>“They’re dealing with that day in and day out, and then we expect them to come into a classroom and learn,” she said.</p>

<div class="inline-graphic">
    <div class='embed-container'>
        <iframe src='http://player.vimeo.com/video/177527451' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p class="caption">Luna Garcia talks about growing up with an incarcerated parent and the programs that support young people in similar situations.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">T</span>he rate of failure for such students stunned San Francisco school district leaders when they began to examine the issue earlier this year.</p>

<p>In March, the school board took action. It adopted one of the first resolutions in the nation requiring its staff to address the impact of incarceration on children by, among other things, increasing training for counselors, teachers and staff.</p>

<p>The district also will develop curriculum that addresses the impact of incarceration, perhaps in health or civics classes. And it is adding questions about incarcerated parents to its annual anonymous student survey, which has been used to assess the presence of other risk factors, like violence, drugs and sex. School enrollment forms don’t identify which students are CIPs, and officials want to know where help and support are needed most.</p>

<p>Board President Matt Haney, who sponsored the measure, said these children are often “invisible victims.”</p>

<p>“Without their schools on their side,” he said, “things can be even worse.”</p>

<div class="inline-graphic medium show-for-medium">
    <img src="{{ url_for('static', filename='graphics/03.png') }}">
</div>

<p><span class="dropcap" style="padding-bottom:3px;">J</span>eremy Hilinski, principal of Bret Harte Elementary in the Bayview neighborhood, says his school should be on the district’s list of those that need support. He knows of 20 to 30 students whose parents have been incarcerated at some point — about 1 in 10 of his students — and assumes there are more who haven’t told anyone.</p>

<p>He points to certain common behaviors: leaving class without permission, mouthing off, acting aggressively on the playground or in class. Some become withdrawn, depressed, even physically ill. A parent’s arrest by police, especially if it’s in front of the child, can be devastating, he said.</p>

<p>“The changes in behavior are obvious,” Hilinski said. “It’s equally as traumatic as seeing someone assaulted or being the victim of some violent crime.”</p>

<p>The arrival of the holidays can make students with jailed parents despondent, he said. Even seemingly innocent assignments, like asking students to craft a Mother’s Day card, can make things harder.</p>

<p>“We as a school can contribute to problems if we’re not careful,” Hilinski said. “We’re setting ourselves up for complete disaster, meltdown behaviors.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10696712/5/2000x2000.jpg">
    <p class="caption">Luna Garcia (left) talks with friend Samantha Ng during a marine biology class at June Jordan School for Equity High School in S.F.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">F</span>or Luna, school had always been something of a struggle. Her last semester at June Jordan School for Equity in the Excelsior neighborhood was no different.</p>

<p>She had to help care for the younger children at home, and suffered a lung infection, putting her behind and facing failing grades in a couple of classes. But not graduating was not an option.</p>

<p>Luna dreams of being a writer, a politician, or maybe both. When asked to describe herself, she began a lengthy list: creative, artistic, human, female.</p>

<p>“I’m way more things than a child of an incarcerated parent,” she said. “It’s not all we have to offer.”</p>

<p>Still, with moments like prom and graduation on the horizon, the day Luna looked forward to most was April 26. It was the day of her senior presentation, the oral exam she had to pass to graduate. But it was also the day her dad was scheduled to be released from San Francisco County Jail.</p>



<p>Luna hadn’t seen or spoken to him in a few years. The last time she’d seen him, they spoke only briefly, uncomfortably, exchanging small talk through phones on opposite sides of a thick glass partition. In the years since, she’s wanted to see him again, but her mother forbids it.</p>

<p>Luna doesn’t talk a lot about her mother, or her family. She’s fiercely protective of them, and shielded them from interviews and photographs. But it’s clear she admires her mom, who “had to step up and play the role of a mother and father.”</p>

<p>Her parents fought a lot when her dad was around. He was abusive, she said, and her mother eventually cut off all contact. Maybe he wasn’t the best father, Luna said, but he was still her dad. Not seeing him the past few years had hurt.</p>

<p>Over the years, though, she’d managed to keep tabs on him as he’d moved to this jail or that prison. Knowing his location gave her a sense of connection. Now, as she counted down the days to his release, she was full of hope.</p>

<p>“Maybe,” she said, “we’ll have some type of relationship.”</p>

<p>On April 26, she stood before her teachers, trying to demonstrate that she’d mastered all her subjects. But her mind reeled. Was her dad out of jail yet? Would she get to see him?</p>

<p>She would learn some time later that she’d passed her exam. The news about her father came more quickly. When she returned home that day, her family told her: He’d been released, but only into the custody of another jurisdiction, on other charges. He was still behind bars, and she wouldn’t see him.</p>

<div class="inline-graphic" style="max-width: 422px;">
    <img src="{{ url_for('static', filename='graphics/04.png') }}">
</div>

<p><span class="dropcap">W</span>hether children should visit incarcerated parents has been the subject of debate. Some warn against it, noting the potential trauma of seeing dad or mom in inmate attire amid armed guards. But a growing consensus of experts considers the interaction beneficial to children, and studies suggest locked-up parents do better as well.</p>

<p>“The isolation, the lack of really understanding where their parent is, is much worse,” said Ruth Morgan, founder and executive director of Community Works West, an Oakland nonprofit group that seeks to break the cycle of incarceration.</p>

<p>While state and federal prisons generally allow in-person visits with some minimal physical contact, county jails typically keep visitors separated from inmates by thick glass. Only a handful of counties, including San Francisco, have programs offering contact visits for parents and minor children.</p>

<p>But getting to San Francisco’s main jail, a satellite facility in San Bruno, is difficult and time-consuming. Of children in San Francisco with a parent in County Jail, only about a third visit, according to a 2014 survey of county inmates.</p>

<p>Oakland resident Zoe Wilmott, 25, remembers many details from childhood visits with her mother in the federal penitentiary in Dublin: The men with guns. The hot paper run across her fingers to test for drug residue. The joy felt as the mothers filed in to see their kids, the tears as they said goodbye.</p>

<p>“My family always asked if I wanted to go, and I always said yes,” she said. “That was my mom.”</p>

<p>She remembers her mother braiding her hair, one of the few ways they could maintain physical contact in the visiting room. And she remembers the time her kindergarten teacher went to the prison, making possible an unusual parent-teacher conference. It proved a turning point in Wilmott’s life. She felt she had someone on her side, something that made a real difference and helped her through school and college.</p>

<p>Wilmott later decided to help other children with jailed parents. She became director of Project What, a leadership program that enlists children of incarcerated parents to raise awareness about their struggles and to advocate for policy changes. An arm of Community Works West, it’s one of a few such programs of its kind.</p>

<p>“They need someone who is not going to pity them, but demonstrate understanding,” said Willmott, who ran the program until early this year<b>.</b> “It is a place where they can really voice their anger about their situation.”</p>

<p>And, as Luna would discover, a place that helped her see she was not alone, and didn’t need to feel ashamed.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10817817/5/2000x2000.jpg">
    <p class="caption">Gina White (left), an actor; Arvaughn Williams, a member of the Youth Theater Ensemble; Ephraim Stempler, director of Community Works West’s youth theater programs who plays a clueless therapist; and actor Montana Yaley perform in “Filed as CIP,” a Community Works Youth Theater Ensemble production.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">L</span>una joined Project What as a sophomore, becoming one of about 30 CIPs in the program at any given time. Another recruit was Arvaughn Williams, a student at City Arts and Technology High School.</p>

<p>Project What — an acronym for We’re Here and Talking — pays its young members to go out into the community: They travel to Sacramento, speak at hearings, and tell their stories to social workers, cops, lawyers and politicians. Paid $14 an hour to start, they gain work experience, some financial independence, and learn that they can make a difference.</p>

<p>Project What youth were instrumental in the development of San Francisco school district’s new policy. They have worked with law enforcement officials on changing arrest protocols, to help prevent the trauma associated with a child seeing a parent handcuffed. The group also spearheaded the effort that placed an initiative on the November ballot to lower the voting age to 16 in San Francisco elections.</p>

<p>Last year, after discussions with Project What, former San Francisco Sheriff Ross Mirkarimi lowered the minimum age for unsupervised visits at County Jail to 16 from 18, the general threshold in other California jurisdictions.</p>

<p>Luna said she had learned to be a leader through Project What, to tell her story to police officers, prosecutors, teachers, politicians. “For me this is my life,” she said. “I tell them what I know.”</p>

<p>Through the program, Luna and Arvaughn became friends. Both were proud of what they’d helped Project What accomplish, but felt a pull to do more, this time through art rather than policy or politics.</p>

<p>The pair joined Community Works West’s Youth Theater Ensemble. The aim was to create a play based on their experiences as CIPs. To use theater to express their often bewildering mix of feelings: anger and abandonment, fear and resentment, love and longing.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10817814/5/2000x2000.jpg">
    <p class="caption">Arvaughn Williams (left) leans on Alisia Paniagua’s shoulder while they work at Project WHAT!, a public awareness program for children of incarcerated parents, in San Francisco.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">A</span>rvaughn’s father, Aaron Williams, moved in and out of jail or prison for years and was rarely present otherwise in his son’s life. Then, in December 2012, he was shot and killed. He was 43; Arvaughn was 14.</p>

<p>He misses his dad, feels his absence in ways large and small. His father never taught him how to use a razor, he said, so he goes to a barber when he wants to get a shave without nicks on his neck.</p>

<p>When he was young, with his parents separated, Arvaughn was supposed to spend summers with his dad. One summer, when he was about 8, his father took him to Fresno, where he was starting another family. But that was the summer his dad had to turn himself in for a jail stint. Arvaughn had to spend the summer in the Central Valley with a family he didn’t know.</p>

<p>Today, all he really has left from his dad are several half-siblings. He’s not quite sure how many, maybe eight. All girls that he knows of. They don’t keep in touch.</p>

<p>“The only times that we meet seem to be over a casket,” he said. “We first met at our grandmother’s funeral, and then again at his.”</p>

<p>With members of the young theater troupe offering up memories like that, said Ephi Stempler, the program’s artistic director, the months-long process of putting together the play was intense — an eye-opening experience for everyone, including him. Emotions boiled over at times. More than one youngster broke down, stormed out or threatened to quit.</p>

{% include 'components/_resources.html' %}

<p>“I didn’t really know before taking this job anything about” children of incarcerated parents, he said. “It really is clearly, no doubt about it, a traumatizing event in a child’s life.”</p>

<p>Creating the play, titled “Filed as CIP,” wasn’t so much therapy as a way for the teenagers to imagine a different narrative for their lives, to “build a new story in which you’re the main character and you’re the hero — or the antihero,” Stempler said.</p>

<p>Luna created the character Athena, an introverted girl angry at her incarcerated father and unable to forgive anyone. Arvaughn developed the role of Charlie, a wise-cracking kid with a chip on his shoulder and angry at his jailed father. The scene was a group therapy session for CIPs, attended by Athena and Charlie and led by a clueless therapist played by Stempler.</p>

<p>The troupe performed the drama at a community event in early May. Toward the play’s end, Arvaughn as Charlie launched into an angry monologue about his father, a man he both loved and resented. As Charlie’s fury rose, he spat out a rap full of resentment and abandonment, punctuated by the line: “My name on your arm must have been an unbearable ink stain!”</p>

<p>Later, Arvaughn, who now is enrolled at San Francisco State, explained the line. His father had tattooed his name within a scroll on his arm. When he was little, he’d reach for it. It was proof, he said, that he mattered.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='img/luna01.jpg') }}">
    <p class="caption">Luna Garcia waits for her name to be called at the June Jordan School for Equity High commencement ceremony in May.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">A</span>s her high school graduation approached, Luna couldn’t help thinking of a promise her father had made to her more then once when she was younger.</p>

<p>“I’ll always be there no matter what,” he’d said. “I’m going to make sure I’m there.”</p>

<p>By this time, she knew he was jailed in San Mateo County, facing charges including resisting arrest and auto theft. She also knew it meant he would break his promise.</p>

<p>On commencement day, Luna wore a nervous smile as she adjusted her mortarboard, trying to keep it in place with a slew of bobby pins. The cap, and her class’ gowns, were a muted gray color.</p>

<p>“I don’t like it,” she said, wrinkling her nose. “It reminds me of prison.”</p>

<p>She zipped up her gown and filed into the auditorium with her classmates to the strains of “Pomp and Circumstance.” Once the graduates were seated on stage, the Jordan School’s co-director, Jessica Huang, greeted them, then turned to the audience. Her message for this day: the importance of family.</p>

<p>“Family is about love, commitment and dedication,” she said. “Family is about seeing the good in people no matter what.”</p>

<p>She turned back to the graduates.</p>

<p>“You are here,” Huang told them, “because of your family, which is sitting here cheering for you in body and spirit.”</p>

<p>If the words stung, Luna didn’t show it. On this day, she would say later, she was caught up in the moment, in the achievement. She was graduating, knowing she’d attend San Francisco City College in the fall. Several family members were there for her. She didn’t notice the many dressed-up dads in the crowd snapping photos with their phones.</p>

<p>Her father hadn’t made it, but she had.</p>
