<p>Luna Garcia swipes through the photos on her phone until she finds it — the one of a young man with a slight mustache standing against a wall, his blue button-up shirt neatly pressed, holding a chubby baby girl.</p>


<p>It’s the kind of photo someone might snap at a holiday dinner, a slightly fuzzy picture of a girl and her dad. But just out of the frame are armed guards and metal doors. It was visiting day at San Quentin State Prison.</p>


<p>It’s a rare photo of Luna with her father. Now 17, she doesn’t have any of him at her birthday parties or science fairs. Jose Garcia was serving two years in San Quentin when she was born, and he’s been in and out of jail and prison ever since.In the few photos Luna has with her father, the years are marked by the color of his jumpsuit.</p>


<p>“He tells me that’s the only thing he knows how to do,” Luna says. “Prison is all he knows.”</p>


<p>But Garcia isn’t the only one paying a price for his misdeeds. Luna carries  the stigma of having a felon for a father, and faces what studies show are longshot odds at success.</p>


<p>She is among an estimated 10 million children across the country whose parents have been incarcerated at some point in their lives. These children  are less likely to do well in school — more likely to be suspended, expelled or drop out, according to “Shared Sentence,” a recent report by the Annie E. Casey Foundation, a national child health and welfare nonprofit. </p>


<p>They have a greater chance of experiencing physical and mental health issues, including anxiety and depression. And their families are less likely to be financially stable and more likely to be homeless.</p>


<p>Yet for decades, these children  have been largely ignored. Efforts to help them are scant. Unlike children in poverty or English learners, they have no designated stream of public funding to support their exceptional needs. Help often comes from  community groups that help address the mental health needs of the families or the inmate’s transition back into society. </p>


<p>“It is an enormously important issue, but it remains a subtext to this country’s ongoing epidemic of mass incarceration,” said state Sen. Mark Leno, D-San Francisco. “In this rush to lock ’em up, three strikes and you’re out, we’ve been completely blind to the impact on families whose mothers and fathers have been sent away for ever longer periods of time.”</p>


<p>For every San Francisco parent behind bars, there is a child like Luna. Like Arvaughn Williams, 17, whose father was in and out of jail until he was shot and killed four years ago. Or Leila Soto, 17, who hasn’t seen her father since he was sent to prison when she was 4. And Vallerie Marie Axtle, 16, whose dad is serving a 26-year sentence.</p>


<p>But now — in part thanks to efforts by the kids themselves — there are indications that public attention could be swayed, with research and advocacy organizations and policymakers acknowledging a direct link between these children and the overall health of their communities. Even TV’s “Sesame Street” created a character, Alex, whose dad is in prison.</p>


<p>In San Francisco, the school district is ramping up support and training programs to raise awareness among teachers and other staff about the needs of the thousands of students in the city struggling with parental incarceration.</p>


<p>Luna wants to help with that. Unlike most children of incarcerated parents, she wants to tell her story, even shout it from the rooftops. She wants people to know what it’s like to be the child of someone considered unfit for society. And perhaps convince people that her future — or the future of the 10 million children just like her — doesn’t have to be in the footsteps of fathers or end in failure.</p>


<p>And as she navigated her last six months of high school this year, his absence was a constant shadow. It followed the otherwise confident and determined girl as she planned for college, faced year-end finals, tried on her cap and gown. It loomed even as she participated in programs designed to help kids like her overcome the odds.</p>


<p>For some, the effects are more severe. Researchers compare parental incarceration to the trauma associated with abuse, domestic violence and divorce, leading to withdrawal, behavioral problems, low self-esteem and drug or alcohol abuse, among other problems. Though research is mixed, some studies indicate children of incarcerated parents are up to three times more likely to enter the criminal justice system themselves.</p>


<p>Yet these children are largely invisible, in part by choice. When asked where their mom is or what their dad does for a living, they lie. But there is no box to check on school forms identifying a child of an incarcerated parent, no offical way for teachers or counselors to know. The students’ behaviorial outbursts, poor grades and absences are often the only clues.</p>


<p>San Francisco is home to about 17,000 children whose parents are incarcerated or have been at some point. On any given day, an estimated 1,300 have a parent in jail or prison.</p>


<p>They are children like Luna. Like Arvaughn √Williams, 17, whose father was in and out of jail until he was shot and killed four years ago. Or Leila√ Soto, 17, who hasn’t seen her father since he was sent to prison when she was 4. And Vallerie√ Marie Axtle√, 16, whose dad is serving a 26-year sentence.</p>


<p>Many are byproducts of tough-on-crime policies that have swelled the nation’s jail and prison population to 2.3 million, more than quadruple the total in 1980.</p>


<p>Half of all those imprisoned are parents. And children of color are disproportionately impacted. One in 9 African American children have an incarcerated parent, compared to 1 in 28 Latino children and 1 in 57 white children, according to the Pew Charitable Trusts.</p>


<p>Yet for decades, these children and the consequences they suffer have been largely ignored. Efforts to help them are scant. Unlike children in poverty or English learners, they have no designated stream of public funding to support their exceptional needs. Help often comes from local community groups that help address the mental health needs of the families or the inmate’s transition back into society. Other groups lobby for child-friendly arrest protocols or for sentencing guidelines that take children into account.</p>


<p>But help finds it way to relatively few of the millions of children who need it.</p>


<p>“It is an enormously important issue, but it remains a subtext to this country’s ongoing epidemic of mass incarceration,” said state Sen. Mark Leno, D-San Francisco. “In this rush to lock ’em up, three strikes and you’re out, we’ve been completely blind to the impact on families whose mothers and fathers have been sent away for ever longer periods of time.”</p>


<p>There are indications, though, that more public attention is being paid to the issue, with research and advocacy organizations and policymakers acknowledging a direct link between these children and the overall health of their communities. Even TV’s “Sesame Street” created a character, Alex, whose dad is in prison.</p>


<p>In San Francisco, the school district is ramping up support and training programs to raise awareness among teachers and other staff about the needs of the thousands of students in the city struggling with parental incarceration.</p>


<p>Luna wants to help with that. Unlike most children of incarcerated parents, she wants to tell her story, even shout it from the rooftops. She wants people to know what it’s like to be the child of someone considered unfit for society. And perhaps convince people that her future — or the future of the 10 million children just like her — doesn’t have to be in the footsteps of fathers or end in failure.</p>


<p>And as she navigated her last six months of high school this year, his absence was a constant shadow. It followed the otherwise confident and determined girl as she planned for college, faced year-end finals, tried on her cap and gown. It loomed even as she participated in programs designed to help kids like her overcome the odds.</p>


<p> </p>


<p>When Luna speaks about her father though, her voice is soft, betraying sadness and a sense of missed opportunity. She knows her life would have been better, easier, if her father had been there for her and her family. Perhaps they wouldn’t be living in crowded household of siblings, cousins, aunts and grandparents. Maybe her grades would have been higher. Her behavior in school better. But as close as she has come to failure at times, she knows she is luckier than most.</p>


<p>Her family has stayed together. She has found programs to vent, to learn, to advocate on her own behalf.</p>


<p>That isn’t the norm. Talking to children of incarcerated parents, or CIPs (sips) as some call themselves, can be like negotiating an obstacle course. They are guarded, mistrustful, sometimes angry, Luna said. They feel no one understands them and no one seems to want to. It’s safer, easier to keep the truth about their parents a secret, to keep their family off-limits to outsiders.</p>


<p>They hate one question especially: “What did your dad do?”</p>


<p>Most children of incarcerated parents don’t want to talk about that. Society sees inmates as bad people, but to their children, they are still just mom or dad even behind bars. Few people understand what that’s like, Luna said.</p>


<p>“We feel alienated a lot the time because of our experiences,” Luna said. “But when you remind us we all have goals, we all have things we want to be in life, it makes us human again.”</p>


<p>Luna wants to be a writer, or maybe a politician, or both. When asked to describe herself, she paused, then started down her list: creative, artistic, human, female. “I’m a big sleeper,” she added, laughing, then kept going: Writer. Sister.</p>


<p>“I’m way more things than a child of an incarcerated parent,” she said. “It’s not all we have to offer.”</p>


<p>And so, Luna learned early on not to tell teachers or classmates her father was behind bars. When she did, they treated her differently, viewed her warily. Friends sometimes abandoned her.</p>


<p>“It becomes something you can use against me, and that’s a weapon,” said Luna, who lives in a home with 11 others, including her mother, twin brothers, grandparents, aunts and cousins. “That hurts a lot.”</p>


<p>Her fifth-grade teacher attributed any misbehavior to a family pattern. In eighth grade, when she strayed from instructions, the teacher asked if she was trying to follow in her father’s footsteps. As a sophomore, she cried after a teacher told her she’d end up just like her dad.</p>


<p>Her mother called the school to complain, but the teacher never apologized. Luna’s grades suffered as she lost interest in school.</p>


<p>“It’s been so normal for us that this is something we have to hide,” she said. If you tell, “It starts becoming a label you carry around with you.”</p>


<p>There was one girl, someone Luna knows, who had a best friend for seven or eight years, someone she told everything, her dreams, her crushes. Everything except that her dad was behind bars. It wasn’t until senior year in high school, the girl said, that they discovered they had parents in prison.</p>


<p>Instead of getting support at school, students like Luna often are stigmatized. And many educators are ill-equipped to address their needs, said Rachel Davis, managing director of the Prevention Institute in Oakland, which focuses on health equity and prevention of violence, trauma and chronic disease.</p>


<p>“They’re dealing with that day in and day out, and then we expect them to come into a classroom and learn,” she said</p>


<p>Children of incarcerated parents have higher rates of absenteeism and are more likely to be suspended and later drop out. Just 15 percent of children who’ve had an incarcerated father, and 2 percent of those with an incarcerated mother, earn a college degree, compared to 40 percent of all others, according to a 2013 report from the American Bar Foundation.</p>


<p>These numbers stunned San Francisco school district leaders earlier this year when they began to examine the issue with community groups and affected students. By March, the school board took action. It adopted one of the first resolutions in the nation requiring district officials to address the impact of incarceration on children by, among other things, increasing training for counselors, teachers and staff. In addition, the district will also develop curriculum for schools to use that addresses the impact of incarceration, perhaps in health classes or civics lessons.</p>


<p>Board President Matt Haney, who sponsored the measure said these children are often “invisible victims.” </p>


<p>“Without their schools on their side,” he said, “things can be even worse.”</p>


<p>While district officials have no way of identifying individual students of incarcerated parents, they say they want to get a better idea of how many there are and at least which schools they attend. They plan to add questions about incarcerated parents to the annual anonymous student survey that is used to assess risk factors like violence, drugs and sex that could affect school performance.</p>


<p>The survey could help pinpoint schools with concentrations of CIP students in need of support. Principal Jeremy Hilinski, of Bret Harte Elementary in the Bayview district, already knows his school should be on the list.</p>


<p>He knows of 20 to 30 students whose parents have been incarcerated at some point — about one in 10 of his students — and assumes there are more who haven’t told anyone.</p>


<p>He sees it in their behavior: leaving class without permission, mouthing off, acting aggressively on the playground or in class. Others become withdrawn, depressed, even physically ill.</p>


<p>“The changes in behavior are obvious,” Hilinski said. “From what I’ve seen in schools, it’s equally as traumatic as seeing someone assaulted or being the victim of some violent crime.</p>


<p>Students who seem happy as the school year starts can grow despondent as the holidays approach. “They’re watching TV and all these families are celebrating around the tree — and their family doesn’t look like that,” he said</p>


<p>Even seemingly innocent class assignments can make things harder, he said, like asking students to craft a Mother’s Day card, or write about their parents’ occupations.</p>


<p>“We as a school can contribute to problems if we’re not careful,” Hilinski said. “We’re setting ourselves up for complete disaster, meltdown behaviors.”</p>


<p/>


<p>For Luna, school had always been something of an uphill battle, but especially so during her last semester of high school. Her young cousin, a baby boy, among the 10 in her home, had health issues and she was helping care for him. Then Luna got sick, a lung infection that caused her to miss school. And she had to skip important field trips because her mother was working and didn’t sign the permission slips.</p>


<p>Luna knew she needed to boost failing grades in a couple of classes. And she still had to pass her upcoming senior year defense, an oral presentation and the culmination of her work in English, math, science and history at June Jordan School for Equity in the Excelsior neighborhood. Her diploma rested on the results. It was scheduled for Apr. 26.</p>


<p>But she was distracted — Apr. 26 was also the day her dad was getting out of County Jail in San Francisco.</p>


<p>Luna hadn’t seen him or spoken to him in a few years. But she always knew where he was. He had been incarcerated, she guessed, for three-fourths of her life, but she kept tabs on him the whole time, through this jail or that prison, as if knowing his location offered a kind of stability.</p>


<p>Now, she was full of hope.</p>


<p>“I was thinking, I have don’t have a relationship with my dad, but I’m really happy he’ll be released, and maybe we’ll have some type of relationship,” she said.</p>


<p>On the day of his release, she stood before her teachers defending her academic work, but her mind reeled. Was he out yet? Would she see him? Her mind raced as teachers quizzed her.</p>


<p>The last time Luna had seen her dad, he spoke to her through a phone on the other side of a thick glass partition.</p>


<p>“We didn’t really talk,” she said. “It was just, ‘Hi,’ and how was I, and that was it pretty much. I ended up leaving because I felt uncomfortable.”</p>


<p>In the years since, she’s wanted to see him again, but her mother forbids it. Luna doesn’t talk a lot about her mother. Fiercely protective of her family, she shielded both her mother and father from interviews and exposure. But Luna admires her mom.</p>


<p>“She had to step up and play the role of a mother and father,” she said. </p>


<p>Luna remembers that her parents fought a lot when her dad was in the picture, that he was abusive. Her mom eventually stopped all contact.</p>


<p>Maybe he wasn’t the best father. But he was still her dad, Luna said. And not seeing him hurt.</p>


<p>Whether children should visit incarcerated parents has long been the subject of debate, with some warning of the potential trauma of entering a facility to see dad or mom in inmate attire amid armed guards. But a growing consensus of experts considers the interaction beneficial to children and studies suggests locked-up parents do better as well.</p>


<p>“The isolation, the lack of really understanding where their parent is, is much worse,” said Ruth √Morgan, founder and executive director of Community Works West.</p>


<p>While state and federal prisons allow in-person visits, county jails typically keep visitors separate from inmates. Only a handful of counties, including San Francisco, have programs offering in-person visits for parents and minor children.</p>


<p>Zoe Wilmott still remembers the smallest details from childhood visits with her mother in the federal penitentiary in Dublin: The men with guns. The hot paper run across her fingers to test for drug residue. The feel of the chairs. The interminable wait before the moms filed through the door. The pure joy. And the heartache as the mothers and children sobbed as they said goodbye.</p>


<p>But she also remembers her mother braiding her hair, one of the few ways they could maintain physical contact in the visiting room. </p>


<p>“My family always asked if I wanted to go and I always said yes,” she said. “That was my mom.”</p>


<p>She went every week.</p>


<p>And Wilmott remembers the time her kindergarten teacher traveled to Dublin, had the guns pointed at her, her fingers swiped for drugs, so she could have a parent-teacher conference with her mom. It was a turning point in Wilmott’s life. She had someone on her side and it made all the difference, helping her through school and later to college.</p>


<p>Wilmott, 25, decided to become one of those adults who could support children with jailed parents. As a teen, she joined Project What!, a leadership program that enlists children of incarcerated parents to raise awareness about their struggles and to advocate for policy changes. It’s one of a few such programs focused on CIPs.</p>


<p>“They need someone who is not going to pity them, but demonstrate understanding,” said Willmott√, who later would become the director of the program.“It is a place where they can really voice their anger about their situation.”</p>


<p>With Project What!, an acronym for We’re Here and Talking — the young adults travel to Sacramento, speak at hearings, and tell their stories to social workers, law enforcement agencies, lawyers and politicians. Paid $14 an hour to start, they get work experience and some financial independence, as well as the knowledge that they are not alone, nor powerless.</p>


<p>The program is one of several under the umbrella of Community Works West, an Oakland-based nonprofit group that launched in 1997 to help inmates and their families navigate incarceration.</p>


<p>Luna joined Project What! three years ago, one of about 30 CIPs participating in the program at any given time.</p>


<p>She believes they have made a real difference. The Project What! participants were instrumental in the San Francisco school district’s new policy. They have worked on changing arrest protocols to prevent trauma associated with actions such as police handcuffing a parent in front of a child. They spearheaded the effort to place an initiative on the November ballot to lower the voting age to 16 in city elections.</p>


<p>A year ago, based on discussions with youth in Project What!, former Sheriff Ross Mirkarimi lowered the minimum age for unsupervised visits to the jail to 16 from 18, as in other California jurisdictions.</p>


<p/>


<p>Changing policies or addressing public officials about CIPs was one thing, but Luna felt there was more that needed to be shared. She wanted people to understand their often bewildering mix of feelings: the anger and abandonment, fear and resentment, love and longing.</p>


<p>She joined the Community Works Youth Theater Ensemble, with the aim of writing a play about CIPs. A friend from Project What!, Arvaughn Williams, signed up too.</p>


<p>Arvaughn’s father, Aaron √Williams, who was in and out of jail or prison for much of Arvaughn’s life, and rarely present otherwise. He was shot and killed in December 2012 at age 43.</p>


<p>Arvaughn was 14 then. His dad never taught him how to shave, the now 17-year-old said. He goes to a barber when he wants to get a good shave, one without nicks on his neck.</p>


<p>He misses his dad. He feels cheated. When his dad was alive, they were supposed to spend summers together, but there was one summer, Arvaughn was maybe 8, when his dad took him to Fresno. But Williams — who was in the drug game, Arvaughn says — had to turn himself in for a jail stint and so he spent the summer in the Central Valley with a family he didn’t know.</p>


<p>“I felt cheated,” Arvaughn said. “It was what it was.”</p>


<p>Now, all Arvaughn has left of his dad are his scattered half-siblings. He’s not quite sure how many there are, maybe eight. All girls that he knows of.</p>


<p>“The first time I was in a room with all of my siblings was over his casket,” he said. “We all officially got to meet over his dead body.”</p>


<p>Like Luna, he had a lot of emotions and memories to put into a character for the theater production.</p>


<p>And it meant, not surprisingly, the process of creating the play, “Filed as CIP,” was intense — a learning experience not just for the young writers and actors, said Ephi√ Stempler√, the program’s artistic director, but for him, too.</p>


<p>“I didn’t really know before taking this job anything about (children of incarcerated parents),” he said. It really is clearly, no doubt about it, a traumatizing event in a child’s life.”</p>


<p>The production, said Stempler, wasn’t so much meant as therapy as a way to offer the teens a different narrative, one that doesn’t depict them as damaged or broken. “You can ... actually build a new story in which you’re the main character and you’re the hero — or the antihero if you need to be.”</p>


<p>Luna, Arvaughn and the others were challenged to create characters that were not replicas of themselves, but reflected their own experiences and feelings.</p>


<p>Raw emotions boiled over at times, Stempler said, with participants storming out, crying, testing boundaries, threatening to quit.</p>


<p>In the end, Luna created Athena, an introverted girl, angry at her incarcerated father and unable to forgive anyone. She turned the role over to another girl, saying she’d rather write than act. Arvaughn invented and portrayed Charlie, a wise-cracking kid with a chip on his shoulder.</p>


<p>The setting of the play: a group therapy session featuring four kids whose parents are incarcerated and a clueless therapist, played by Stempler.</p>


<p>In early May, a sold-out crowd in a big room at the California Institute of Integral Studies wiped tears away as the teens performed the play, knowing their made-up stories reflected a sad reality.</p>


<p>Toward the play’s end, Arvaughn’s character launched into an increasingly angry monologue about the father he loathed and loved. As Charlie’s fury raise, he spat out a rap full of resentment and abandonment directed at his dead dad and punctuated by one of the final lines: “My name on your arm must have been an unbearable ink stain!”</p>


<p>Aaron Williams had his son’s name tattooed on his arm, a script “Arvaughn” inked on a scroll.</p>


<p>When he was little, Arvaughn would grab his dad’s arm and look for his name. It was always proof, Arvaughn said, that he mattered.</p>


<p>“I spent a lot of time being angry at him,” said Arvaughn, who will attend San Francisco State in the fall. “It was love that was so passionate that it turned into anger.”</p>


<p/>


<p>A few days before the performance, Luna had walked out of her senior presentation and anxiously hurried home, where she learned that her dad had been released — but only into the custody of another jurisdiction, on other charges. He was still behind bars.</p>


<p>As the spring days passed, she learned she had passed her classes and her presentations. She had earned her high school diploma. She will attend San Francisco City College in the fall.</p>


<p>Luna wants to be a writer, or maybe a politician, or both. When asked to describe herself, she paused, then started down her list: creative, artistic, human, female. “I’m a big sleeper,” she added, laughing, then kept going: Writer. Sister.</p>


<p>“I’m way more things than a child of an incarcerated parent,” she said. “It’s not all we have to offer.”</p>


<p>Still her excitement at the upcoming graduation day and college was tempered by a memory, a promise her father had made to her.</p>


<p>“He told me growing up, ‘I’ll always be there no matter what,” she said. “I’m going to make sure I’m there.’ ”</p>


<p>Instead, he was jailed in San Mateo County. She didn’t know the charges, but she knew it meant he would miss yet another milestone in her life.</p>


<p>On graduation day, Luna wore a nervous smile as she adjusted her mortarboard, which kept sliding back despite a bevy of bobby pins. The class’s caps and gowns were gray.</p>


<p>“I don’t like it,” Luna said, wrinkling her nose at the unusual color. “It reminds me of prison.”</p>


<p>She zipped up her gown and headed to the auditorium to the strains of “Pomp and Circumstance.” With the graduates seated, the Jordan School’s co-director, Jessica Huang√, greeted them, then turned to the audience. Her message: the importance of family.</p>


<p>“Family is about love, commitment and dedication,” she said. “Family is about seeing the good in people no matter what.”</p>


<p>She turned back to the graduates.</p>


<p>“You are here,” she told them, “because of your family, which is sitting here cheering for you in body and spirit.”</p>


<p>If the words stung, Luna didn’t show it. On this day, she said later, she was caught up in the moment, in the achievement. She didn’t take notice of the many dressed-up dads snapping photos with their phones.</p>


<p>Her dad didn’t make it, but she did.</p>