<p><span class="dropcap" style="line-height:0;">S</span>ean Sanchez knows the routine.</p>

<p>Before anyone can ask, the 12-year-old pulls his pants pockets inside out and takes off his shoes, wiggling his toes to prove he’s not concealing drugs or weapons. Cleared by deputies, he’s allowed inside San Francisco County Jail No. 5 to see his father.</p>

<p>The boy won’t just speak to his dad. As part of San Francisco’s One Family visitation program, he’ll be able to hug him, sit close, play a board game together. He can lean in to tell him what happened at school that week — and how much he misses him. They’ll be together for 90 minutes.</p>

<p>Most kids with jailed parents can’t do that.</p>

<p>County jails across the country restrict visits to opposite sides of a glass partition. Only a handful, including San Francisco’s main facility in San Bruno, allow contact visits between locked-up parents and their sons and daughters.</p>

<p>These kinds of visits cost more and raise security concerns, but research suggests they may benefit both the child and parent. Nonetheless, even as awareness grows about an overall lack of support for children of incarcerated parents, many jails are moving in the opposite direction, pushing for video-only visitation similar to Skype or FaceTime to save money.</p>

<p>Maintaining contact with a locked-up parent reduces anxiety and mental health issues among the children while reducing recidivism among the parents, according to “Shared Sentence,” a recent study by the Annie E. Casey Foundation, a Baltimore organization focused on child health and welfare.</p>

<p>For inmates, just one family visit of any kind can reduce recidivism by 13 percent, according to a 2011 Minnesota Department of Corrections study of 16,000 inmates.</p>

<p>“There is no question that the bond is really nurtured when (children) come for a visit,” said Ruth Morgan, the founder and director of Community Works West, a Bay Area nonprofit addressing the effects of incarceration, which oversees San Francisco’s One Family program. “We know it benefits the parent in jail. It’s one thing that really inspires them to change their life.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10817781/5/2000x2000.jpg">
    <p class="caption">“The Night Dad Went to Jail” and other books are displayed on a table at S.F. County Jail No. 5 during a One Family visitation.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">O</span>nce OKd to enter, Sean waves goodbye to his mom — she’s not allowed in — and heads through a heavy metal door along with three other children, One Family staff members and a sheriff’s deputy. They head up an elevator and through a labyrinth of hallways lined with locked metal doors before stopping at a simple office door.</p>

<p>Inside that door, the atmosphere is starkly different. Colorful toys are scattered around: a pink and purple play kitchen, a knee-high shopping cart and a stack of board games. Crayons, markers and books. Even bottles of sparkly fingernail polish.</p>

<p>Sean moves to a table to set up a Connect Four game, but keeps his eye on another door across the room. When it opens, four men in orange jumpsuits walk through, greeted by yells of “Dada!” and “Daddy!”</p>

{% include 'components/_resources.html' %}

<p>Sean’s dad, Cesar Sanchez, sits next to him, and they begin dropping plastic discs into the game’s slots. Another dad kneels beside his young daughter at the toy kitchen. Another snuggles his infant daughter, just 9 months old.</p>

<p>“The first time he ever saw her was in this room,” said Sarah Carson, who until recently was program director for One Family. “The only times he’s ever seen her have been in this room.”</p>

<p>Sean’s dad, who is 34, says the visits are a powerful way to promote good behavior and reduce violence inside the jail’s walls.</p>

<p>In here, Sanchez said, “people want to fight, and I want to do it, but I want to see my kids on the weekend.” A fight can land him in solitary confinement for 30 days. “I won’t do that to them.”</p>

<p>Before he could have visits with Sean and his other child, a daughter, Sanchez had to attend parenting classes offered by One Family. The classes helped him be a better father, he said, and, more importantly, to feel like a father, even behind bars.</p>

<p>The One Family staffers “treat us like dads,” he said. “They see more than orange.”</p>

<p>San Francisco Sheriff Vicky Hennessy is a fan of the program.</p>

<p>Any extra costs are worth it, she said, because the visits keep inmates connected to their children and the outside world.</p>

<p>“When they eventually get out — and we have to understand, these people get out — this contributes to public safety,” Hennessy said. “It’s not a silver bullet, but what we can say is we’re trying to build better people.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10817785/5/2000x2000.jpg">
    <p class="caption">Inmates at County Jail No. 5 carry their children during their 90 minutes together at a One Family visitation. Most county jails do not permit incarcerated parents to have physical contact with their children.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p><span class="dropcap">S</span>ean and his dad finish with Connect Four and move on to the card game Uno.</p>

<p>Another dad sits with his 3-year-old daughter, who asks to paint her nails. He watches as she applies purple polish, then blows it dry. “Oh, my gosh,” he tells her. “It’s so pretty.”</p>

<p>Around the room, there is laughter, a snack break and a quick diaper change. But, as the clock ticks down toward the end of the visit, it grows quieter.</p>

<p>Sean climbs onto his dad’s lap. They talk quietly, at one point lacing their fingers together. The toddler with purple nail polish grips her father around his neck, pressing her face against his shoulder as he walks with her around the room, comforting her.</p>

<p>As the 90 minutes run out, One Family staffers gather the children on one side of the room. The inmates stand together on the other, then begin filing out the door. They wave, blow kisses and say goodbye again and again, maintaining eye contact with their kids until the door closes behind them.</p>

<p>Back in the common area near his cell after the visit with Sean, Cesar Sanchez reflects on the kind of dad he was before his arrest for a gun assault that would lead to a six-year sentence and time served in a plea deal.</p>

<p>“I never really sat down and played cards with them,” he says. “I didn’t take the time, the effort.”</p>

<p>The first time he ever read to Sean and his younger sister, Sanchez says, came on one of their jail visits. His own father never read to him, he says.</p>

<p>“Without this program, I’d have 2.5 years without touching my kids,” Sanchez says. “I don’t ever want to be in this situation again.”</p>
